:host {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: stretch;

  .sidebar {
    min-width: 12em;
    flex-grow: .2;
  }
  .content {
    flex-grow: 1;
    background-color: bisque;
    color: #222222;
    padding: 1em;
    overflow: auto;
  }
}
